@import '../../global.scss';

.card {
    border: none;
    margin-bottom: 25px;

    .card-item {
        border: 1px solid $gray2;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-between;
        position: relative;
        overflow: hidden;
        transition: 0.2s;

        &:hover {
            background-color: $gray1;
            box-shadow: 2px 6px 7px #b8b9be;
            transform: translateY(-2px);

            &::before {
                opacity: 0;
            }
        }

        // Make image height same as width
        .img-container {
            position: relative;
            width: 100%;

            &::after {
                content: "";
                display: block;
                padding-bottom: 100%;
            }

            img {
                bottom: 0;
                height: 100%;
                left: 0;
                object-fit: cover;
                object-position: center;
                position: absolute;
                right: 0;
                top: 0;
                width: 100%;
            }
        }

        .card-info {
            display: flex;
            flex-direction: column;
            height: 100%;
            justify-content: space-between;
            line-height: 1.1;
            padding: 10px;
            
            .card-title {
                color: $dark-blue;
                font-size: 1rem;
                font-weight: 600;
                margin-bottom: 10px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            .card-details {
                color: dimgray;
                display: flex;
                font-size: 0.8rem;
                justify-content: space-between;
            }
        }
        
    }

    @media (min-width: 380px) and (max-width: 600px) {
        width: 50%;
    }

    @media (min-width: 1200px){
        width: 20%;
    }
}
