// Make image height same as width
.img-container {
    position: relative;
    width: 100%;

    &::after {
        content: "";
        display: block;
        padding-bottom: 100%;
    }

    img {
        bottom: 0;
        height: 100%;
        left: 0;
        object-fit: cover;
        object-position: center;
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
    }
}