@import '../../global.scss';

header {
    background-color: $header-background;
    box-shadow: 0 1px 2px $light-blue2;
    height: 60px;
    padding: .7rem 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: 50;
}

