@import '../../../global.scss';

.pagination_control {
    color: $gray5;
    font-size: .8rem;
    font-weight: 600;
    text-align: right;
    
    #limit_bottom {
        border-radius: 3px;
        color: $gray5;
        outline: none;
        width: 4rem;

    }

    @media (max-width: 500px) {
        display: none;
    }
}