@import '../../global.scss';

$search-icon-font-size: 14px;

.filter {
    column-gap: 10px;
    display: grid;
    grid-template-columns: 5fr auto;
    margin-bottom: 10px;
    position: relative;

    input {
        border-color: $gray4;
        letter-spacing: 0.6px;
        outline: 0;
        width: 100%;
    }

    button i {
        font-size: $search-icon-font-size;
    }

    .autocomplete {
        display: inline-block; 
        position: relative;
    }

    .autocomplete-items {
        border: 1px solid $gray3;
        border-bottom: none;
        border-top: none;
        border-radius: 4px;
        box-shadow: 0 2px 5px 1px $light-blue2;
        left: 7px;
        margin: 0 5px;
        overflow: hidden;
        position: absolute;
        right: 7px;
        top: 40px;
        z-index: 10;

        div {
            align-items: center;
            background-color: $white; 
            border-bottom: 1px solid $gray3;
            color: $dark-blue4;
            cursor: pointer;
            display: flex;
            flex-direction: row-reverse;
            font-size: .9rem;
            font-weight: 600;
            justify-content: flex-end;
            padding: 3px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

            &:hover {
                background-color: $gray2;
            }

            img {
                width: 36px;
                height: 36px;
                padding-right: 5px;
            }
        }
    }
}

.autocomplete-active {
    background-color: $gray3 !important; 
    color: $light-blue5; 
}
